src/main/app/facebook2google-events.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:google-calendars="http://www.mulesoft.org/schema/mule/google-calendars"
	xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/google-calendars http://www.mulesoft.org/schema/mule/google-calendars/1.0/mule-google-calendars.xsd
http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/current/mule-facebook.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">

    <context:property-placeholder location="mule.properties"/>

    <facebook:config-with-oauth name="Facebook" appId="${facebookAppId}" appSecret="${facebookAppSecret}" scope="email,user_events" doc:name="Facebook">
		<facebook:oauth-callback-config domain="${domain}" localPort="8081" remotePort="8081"/>
    </facebook:config-with-oauth>

    <google-calendars:config-with-oauth name="Google_Calendars" consumerKey="${googleAppId}" consumerSecret="${googleAppSecret}" doc:name="Google Calendars">
		<google-calendars:oauth-callback-config domain="${domain}" path="redirect" localPort="8081" remotePort="8081"/>
    </google-calendars:config-with-oauth>

    <data-mapper:config name="event_to_event" transformationGraphPath="event_to_event.grf" doc:name="event_to_event"/>

    <flow name="authorize-facebook" doc:name="authorize-facebook" doc:description="User authorizes MuleSample Facebook App via OAuth2.">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="authorize-facebook" doc:name="/authorize-facebook" doc:description="Listen for Facebook OAuth requests."/>
        <facebook:authorize config-ref="Facebook" doc:name="Authorize" doc:description="Request an OAuth access token."/>
        <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder" doc:description="Build HTTP Response with the token id.">
			<set-payload value="You have successfully authorized the Facebook connector. You access token id is #[flowVars['OAuthAccessTokenId']]"/>
        </http:response-builder>
    </flow>

    <flow name="authorize-google-calendar" doc:name="authorize-google-calendar" doc:description="User authorizes MuleSample Google App via OAuth2.">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="authorize-google" doc:name="/authorize-google" doc:description="Listen for Google Calendar OAuth requests."/>
        <google-calendars:authorize config-ref="Google_Calendars" access_type="offline" doc:name="Authorize" doc:description="Request an OAuth access token."/>
        <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder" doc:description="Build HTTP Response with the token id.">
			<set-payload value="You have successfully authorized the Facebook connector. You access token id is #[flowVars['OAuthAccessTokenId']]"/>
        </http:response-builder>
    </flow>

    <flow name="add-events" doc:name="add-events" doc:description="User wants to add incoming Facebook events to a Google Calendar.">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="add-events" doc:name="/add-events" doc:description="Main listener."/>
        <facebook:get-user-events config-ref="Facebook" limit="10" since="today" until="+1 week" user="me" accessTokenId="#[header:INBOUND:fbTokenId]" doc:name="Get user events" doc:description="Query Facebook Graph API and fetch user events."/>
        <foreach doc:name="For Each">
            <data-mapper:transform config-ref="event_to_event" doc:name="Faccebook to Google Event"/>
            <google-calendars:insert-event config-ref="Google_Calendars" calendarId="primary" doc:name="Insert Event" doc:description="Add event to primary calendar." accessTokenId="#[header:INBOUND:gTokenId]"/>
        </foreach>
        <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder" doc:description="Build final HTTP Response.">
			<set-payload value="All Facebook events where added to your Google Calendar"/>
        </http:response-builder>
    </flow>

</mule>
